<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- I may need to put a / in front of static -->
    <link rel="stylesheet" type="text/css" href="../static/styles.css" th:href="@{/styles.css}">
    <title>Latest News</title>
  </head>

  <body>

      <main>
        <h1>Latest News</h1>


        <div class="left_side_div">


        <h1 class="box_head_left" th:text=${firstSourceTitle}></h1>
        <div class="first_articles">

    <tr th:each="article: ${firstArticles}">
    <article>
    	<!-- <td th:text="${article.source.link}"/> -->
    	<!-- <br /> -->
    	<div class="source">
    	<a  th:text="${article.title}"></a>

    	</div>
    	<div class="added">
    	<td th:text="${article.dateAdded}"/>
    	<br />
    	</div>
    	<div class="body">
    	<td th:text="${article.body}"/>
    	<br />
    	</div>
    	
    </article>
    </tr>
    </div>


        <h1 class="box_head_left" th:text=${thirdSourceTitle}></h1>
        <div class="third_articles">

    <tr th:each="article: ${thirdArticles}">
    <article>
    	<!-- <td th:text="${article.source.link}"/> -->
    	<!-- <br /> -->
    	<div class="source">
    	<a th:href="@{${article.link}}" th:text="${article.title}"></a>

    	</div>
    	<div class="added">
    	<td th:text="${article.dateAdded}"/>
    	<br />
    	</div>
    	<div class="body">
    	<td th:text="${article.body}"/>
    	<br />
    	</div>

    </article>
    </tr>
    </div>

    </div>


    <div class="right_side_div">


        <h1 class="box_head_right" th:text=${secondSourceTitle}></h1>
        <div class="second_articles">

    <tr th:each="article: ${secondArticles}">
    <article>
    	<!-- <td th:text="${article.source.link}"/> -->
    	<!-- <br /> -->
    	<div class="source">
    	<a th:href="@{${article.link}}" th:text="${article.title}"></a>

    	</div>
    	<div class="added">
    	<td th:text="${article.dateAdded}"/>
    	<br />
    	</div>
    	<div class="body">
    	<td th:text="${article.body}"/>
    	<br />
    	</div>

    </article>
    </tr>
    </div>
    
    <h1 class="box_head_right" th:text=${fourthSourceTitle}></h1>
        <div class="fourth_articles">

    <tr th:each="article: ${fourthArticles}">
    <article>
    	<!-- <td th:text="${article.source.link}"/> -->
    	<!-- <br /> -->
    	<div class="source">
    	<a th:href="@{${article.link}}" th:text="${article.title}"></a>

    	</div>
    	<div class="added">
    	<td th:text="${article.dateAdded}"/>
    	<br />
    	</div>
    	<div class="body">
    	<td th:text="${article.body}"/>
    	<br />
    	</div>

    </article>
    </tr>
    </div>

    </div>


      </main>

  </body>
</html>
