<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- I may need to put a / in front of static -->
    <link rel="stylesheet" type="text/css" href="../static/styles.css" th:href="@{/styles.css}">
    <title>Latest News</title>
  </head>

  <body>

      <main>
        <h1>Latest News</h1>


        <div class="left_side_div">


        <h1 class="box_head_left" th:text=${firstSourceTitle}></h1>
        <div class="firstArticles">
        
    <tr th:each="article: ${firstArticles}">
    <article>
    	<!-- <td th:text="${article.source.link}"/> -->
    	<!-- <br /> -->
    	<div class="source">
    	<a th:href="@{${article.link}}" th:text="${article.title}"></a>
    	
    	</div>
    	<div class="added">
    	<td th:text="${article.dateAdded}"/>
    	<br />
    	</div>
    	<div class="body">
    	<td th:text="${article.body}"/>
    	<br />
    	</div>
    	
    </article>	
    </tr>
    
    </div>
    
        
      <!--   
        {% for article in firstArticles %}
        <article>
          <h2>
            <a href="/read/{{ article.id }}">{{ article.title }}</a>
          </h2>
          <div class="source">
              
              <a href="{{ article.source.link }}">
                    {{ article.source.title }}
              </a>
          </div>
          <div class="added">
              {{ article.date_added }}

          </div>
          <div class="body">
            {{ article.body }}

          </div>

        </article>
        {% endfor %}
        </div>
 -->
             <!--  <h1 class="box_head_left"> {{ third_articles[0].source.title }} </h1>
              <div class="third_articles">
              {% for article in third_articles %}
              <article>
                <h2>
                  <a href="/read/{{ article.id }}">{{ article.title }}</a>
                </h2>
                <div class="source">
                    From
                    <a href="{{ article.source.link }}">
                          {{ article.source.title }}
                    </a>
                </div>
                <div class="added">
                    {{ article.date_added }}

                </div>
                <div class="body">
                  {{ article.body }}

                </div>

              </article>
              {% endfor %}
              </div>
        </div>

        <div class="right_side_div">


        <h1 class="box_head_right"> {{ second_articles[0].source.title }} </h1>
        <div class="second_articles">
        {% for article in second_articles %}
        <article>
          <h2>
            <a href="/read/{{ article.id }}">{{ article.title }}</a>
          </h2>
          <div class="source">
              From
              <a href="{{ article.source.link }}">
                    {{ article.source.title }}
              </a>
          </div>
          <div class="added">
              {{ article.date_added }}

          </div>
          <div class="body">
            {{ article.body }}

          </div>

        </article>
        {% endfor %}
        </div>

                    <h1 class="box_head_right"> {{ fourth_articles[0].source.title }} </h1>
                    <div class="fourth_articles">
                    {% for article in fourth_articles %}
                    <article>
                      <h2>
                        <a href="/read/{{ article.id }}">{{ article.title }}</a>
                      </h2>
                      <div class="source">
                          From
                          <a href="{{ article.source.link }}">
                                {{ article.source.title }}
                          </a>
                      </div>
                      <div class="added">
                          {{ article.date_added }}

                      </div>
                      <div class="body">
                        {{ article.body }}

                      </div>

                    </article>
                    {% endfor %}
                    </div>

        </div>
 -->

      </main>

  </body>
</html>
